<%- include('partials/header.ejs'); %>
<section id="post-title-us-home">
    <div class="about-us-home-container container">
        <div class="about-us-home-image">
            <img src="/uploads/<%=image %>">
        </div>
        <div class="about-info-container-text">
            <h2 class="home-about"><%= title %></h2>
            <p class="about-info-texts"><%= content %></p>
            
        </div>
    </div>
</section>


<%- include('partials/footer.ejs'); %>